<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${numberPeriods.id}"></td>
                    <th>期数名称</th>
                    <td th:text="${numberPeriods.name}"></td>
                </tr>
                <tr>
                    <th>小区id</th>
                    <td th:text="${numberPeriods.residentialQuartersId}"></td>
                    <th>期数编号</th>
                    <td th:text="${numberPeriods.numberOfPeriodsNumber}"></td>
                </tr>
                <tr>
                    <th>创建时间</th>
                    <td th:text="${#dates.format(numberPeriods.createDate, 'yyyy-MM-dd HH:mm:ss')}" colspan="3"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>