<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${lowerEquipment.id}"></td>
                    <th>设备mac</th>
                    <td th:text="${lowerEquipment.mac}"></td>
                </tr>
                <tr>
                    <th>设备版本号</th>
                    <td th:text="${lowerEquipment.version}"></td>
                    <th>设备名称</th>
                    <td th:text="${lowerEquipment.name}"></td>
                </tr>
                <tr>
                    <th>栋数id</th>
                    <td th:text="${lowerEquipment.numberOfBuildingsId}"></td>
                    <th>绑定类型</th>
                    <td th:text="${lowerEquipment.bulidType}"></td>
                </tr>
                <tr>
                    <th>设备sn码</th>
                    <td th:text="${lowerEquipment.sn}"></td>
                    <th>是否是测试机</th>
                    <td th:text="${lowerEquipment.isTest}"></td>
                </tr>
                <tr>
                    <th>是否为广告机</th>
                    <td th:text="${lowerEquipment.isAdvertising}"></td>
                    <th>创建时间</th>
                    <td th:text="${#dates.format(lowerEquipment.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>