<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/residential/alarmCall/add}">
        <input type="hidden" name="id" th:if="${alarmCall}" th:value="${alarmCall.id}">
        <!--<div class="layui-form-item">
            <label class="layui-form-label">小区名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="residentialQuartersId" placeholder="请输入小区id" th:value="${alarmCall?.residentialQuartersId}">
            </div>
        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">小区名称</label>
            <div class="layui-form-label">
                <select name="residentialQuartersId" lay-verify="required">
                    <option value="">所有</option>
                    <option  th:each="r,rStat:${rList}" th:value="${r.id}" th:text="${r.name}" th:selected="${alarmCall.residentialQuartersId==r.id}"></option>

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话号码</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="telePhone" placeholder="请输入电话号码" th:value="${alarmCall?.telePhone}">
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>