<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${alarmCall.id}"></td>
                    <th>小区id</th>
                    <td th:text="${alarmCall.residentialQuartersId}"></td>
                </tr>
                <tr>
                    <th>电话号码</th>
                    <td th:text="${alarmCall.telePhone}"></td>
                    <th>创建时间</th>
                    <td th:text="${#dates.format(alarmCall.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>