<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/residentialQuarters/residential/add}">
        <input type="hidden" name="id" th:if="${residential}" th:value="${residential.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">小区名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="name" placeholder="请输入小区名称" th:value="${residential?.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">小区地址</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="address" placeholder="请输入小区地址" th:value="${residential?.address}">
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>