<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${lowerEquipment.id}"></td>
                    <th>绑定类型（1表示栋数，2表示小区）</th>
                    <td th:text="${lowerEquipment.bulidtype}"></td>
                </tr>
                <tr>
                    <th>设备名称</th>
                    <td th:text="${lowerEquipment.eqName}"></td>
                    <th>ip地址</th>
                    <td th:text="${lowerEquipment.ipaddress}"></td>
                </tr>
                <tr>
                    <th>是否为广告机（1为广告机，0为门禁机）</th>
                    <td th:text="${lowerEquipment.isAdvertising}"></td>
                    <th>是否为测试机（0为真机，1为测试机）</th>
                    <td th:text="${lowerEquipment.isTest}"></td>
                </tr>
                <tr>
                    <th></th>
                    <td th:text="${lowerEquipment.playUrl}"></td>
                    <th></th>
                    <td th:text="${lowerEquipment.pushUrl}"></td>
                </tr>
                <tr>
                    <th>设备的sn码</th>
                    <td th:text="${lowerEquipment.sn}"></td>
                    <th>绑定为小区时为小区id，绑定类型为栋数时为栋数的id</th>
                    <td th:text="${lowerEquipment.thenumberofbuildingsId}"></td>
                </tr>
                <tr>
                    <th>更新客户端的类型</th>
                    <td th:text="${lowerEquipment.updateClient}"></td>
                    <th>更新时间</th>
                    <td th:text="${lowerEquipment.updateTime}"></td>
                </tr>
                <tr>
                    <th>设备的版本号</th>
                    <td th:text="${lowerEquipment.version}" colspan="3"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>